
<div class="pagination">
  <% if (currentPage > 1) { %>
  <a
    href="<%= url %>/?page=<%= currentPage - 1 %>"
    class="page-btn"
  >
    <span>&lt;</span>
  </a>
  <% } %>
  <% if (currentPage > 0) { %>
  <span class="page-number">Page <%= currentPage %> of <%= totalPages %></span>
  <% } %>
  <% if (currentPage < totalPages) { %>
  <a
    href="<%= url %>/?page=<%= currentPage + 1 %>"
    class="page-btn"
  >
    <span>&gt;</span>
  </a>
  <% } %>
</div>